# Ignore build artefacts and temporary files

# Node modules (not committed into version control)
frontend/node_modules/

# Maven build output
backend/target/

# IDE specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Ignore environment and certificate keys in a real project.  In this
# commit we simulate a leaked key and regenerate it.  To prevent
# further leaks, ignore all private keys in the certs directory.
certs/*.key